# compiled output
/dist/
/tmp/
/.github/
/config/
*.tgz
/node-tests/
/tests/

# misc
/.editorconfig
/.ember-cli
/.env*
/.eslintcache
/.eslintignore
/.eslintrc.js
/.gitignore
/.prettierignore
/.prettierrc.js
/.template-lintrc.js
/.watchmanconfig
# /config/
/RELEASE.md
/CHANGELOG.md
/CONTRIBUTING.md
/ember-cli-build.js
/testem.js
/tsconfig.json
/yarn-error.log
.gitkeep

# ember-try
/.node_modules.ember-try/
/package.json.ember-try

# TS
# note, these need to be at the start of this file, or npm pack gets confused
/**/*.ts
!*.d.ts
/tests/**/*.d.ts

